@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-accent: var(--accent);
  --color-outline: var(--outline);
}

:root {
  --background: #000000; /* main page */
  --foreground: #e9e4e2;
  --muted-foreground: #cdcdcd;
  --accent: #81be7c;
  --card: #1c1c1c;

  --outline: #353535;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
